@import url("http://fonts.googleapis.com/css?family=Open+Sans%3A400%2C300&ver=4.1.2");
@import url("../fonts/FFSignaPro-Black.css");
@import url("../fonts/FFSignaPro-Book.css");
@import url("font-awesome.min.css");

body, p {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 20px;
}
p {
    margin: 0 0 20px;
}
.container {
    padding: 0;
}
h1, .h1 {
    font-family: "FFSignaPro-Black", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 52px;
    line-height: 68px;
    color: #000;
}
h2, .h2 {
    font-family: "FFSignaPro-Black", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 36px;
    line-height: 48px;
    color: #000;
}
h3, .h3 {
    font-family: "FFSignaPro-Black", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #000;
}
h4, .h4 {
    font-family: "FFSignaPro-Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 28px;
    color: #000;
}
h5, .h5 {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 28px;
    color: #d7d7d7;
}
h6, .h6 {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 20px;
    color: #d7d7d7;
}
ul {
    list-style: none;
}
.btn {
    border-radius: 0;
}
a {
    cursor: pointer;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
a:hover, a:focus {
    text-decoration: none;
}
input.has-error {
    border: 1px solid #e91b25;
}
.formFieldError, .error {
    color: #e91b25;
    font-size: 12px;
    line-height: 1.3;
}
.label {
    display: block;
    padding: 0;
    font-size: 14px;
    color: #000;
    text-align: left;
    white-space: normal;
}

/**                       **/
/* Absolute Center Spinner */
/**                       **/

.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Breadcrumbs */

.breadcrumb-wrap {
    text-align: right;
}
.breadcrumb {
    background-color: transparent;
    display: inline-block;
    padding: 17px 0 0 0;
    margin: 0;
}
.breadcrumb > li + li:before {
    content: "\f105";
    padding: 0 5px;
    color: #cccccc;
    font-family: FontAwesome;
}
.breadcrumb > li {
    margin: 0 3px;
}
.breadcrumb > li a {
    color: #888;
    text-decoration: none;
}

/* HEADER */

header.container {
    height: 100px;
}

/* Top menu */

.topMenuNav {
    width: 100%;
    height: 60px;
    background-color: #000;
    -webkit-box-shadow: 1px 0 1px 0;
    box-shadow: 1px 0 1px 0;
    top: 0;
    z-index: 100;
}
ul.topMenu {
    margin: 0;
    padding: 0;
    float: left;
}
.topMenu li {
    display: inline-block;
    margin-right: 21px;
}
.topMenuNav li a {
    color: #8f8f8f;
    padding: 19px 0;
    display: block;
}
.topMenuNav li a:hover {
    color: #cbcbcb;
}

/* Header Icons Block */

.headerIconsBlock {
    float: right;
}
.headerIconsBlock > div {
    float: left;
    margin-top: 14px;
    margin-left: 26px;
    position: relative;
}
.headerIconsBlock > div.userAuthBlock {
    margin-left: 0;
}

/* Header UserAuth Block */

.userAuthButton {
    float: right;
}
.userAuthBlock {
}
.userAuthBlock .auth {
    /* display: none; */
    text-align: right;
    /* margin-right: 10px; */
    float: right;
    margin-top: -15px;
    padding-top: 20px;
    padding-bottom: 21px;
    padding-left: 20px;
}
.userAuthBlock:hover .auth, .dropblock:hover .dropdown {
    display: block;
}
.userAuthBlock a {
    color: #8f8f8f;
    margin-left: 8px;
}
.userAuthBlock .auth a:hover {
    color: #cbcbcb;
}
.userAuthBlock .authorized {
    float: right;
    position: relative;
}
.userAuthBlock .authorized .top {
    margin-top: 5px;
    position: relative;
}
.userAuthBlock .authorized .my, .userAuthBlock .authorized .user {
    display: inline-flex;
    margin-right: 10px;
}
.userAuthBlock .dropdown {
    position: absolute;
    display: none;
    z-index: 2;
    top: 25px;
    background: #E4E4E4;
    box-shadow: 0 2px 5px #999;
    width: 120px;
}
.userAuthBlock .dropdown li {
    border-top: 1px solid #ccc;
}
.userAuthBlock .dropdown li:hover {
    background: #e91b25;
    border-color: #e91b25;
}
.userAuthBlock .dropdown li a {
    height: 25px;
    line-height: 25px;
    display: block;
    margin: 0px 20px 0px 10px;
    padding: 0;
}
.userAuthBlock .dropdown li:hover a {
    color: #fff;
}
.userAuthBlock .dropblock {
    height: 40px;
}
.userAuthBlock .authorized .messages {
    position: absolute;
    top: -6px;
    right: -48px;
    font-size: 14px;
    background-color: #e91b25;
    width: 20px;
    height: 20px;
    text-align: center;
}
.userAuthBlock .authorized .messages a {
    color: #fff;
    margin: 0;
    padding: 0;
}
.userAuthBlock .username {
    color: #fff;
}

/* Authorization & register forms */

.authorization {
    padding: 15px;
    width: 460px;
}
.authorization.register {
    width: 630px;
}
.mainContent .authorization {
    padding: 0 15px; 
}
.authorization #fieldsBlock > div {
    padding-left: 25px;
    padding-right: 25px;
}
.userType {
    display: none;
}
.companyFields {
    display: none;
}
.authorization .forms {
    text-align: center;
}
.authorization h1 {
    font-size: 18px;
    text-align: center;
    margin: 0;
}
.mainContent .authorization h1 {
    line-height: 2;
}
.authorization label {
    display: none;
}
.authorization input[type="text"], .authorization input[type="password"] {
    width: 100%;
    margin-top: 10px;
    padding: 3px 5px 6px 5px;
}
.buttons button[type="submit"] {
    position: relative;
    background-color: #e91b25;
    width: 160px;
    height: 32px;
    border-top-left-radius: 9px;
    border-bottom-right-radius: 9px;
    color: #fff;
    border: none;
    margin: 10px 0;
}
.buttons button[type="submit"]:before {
    content: '';
    position: absolute;
    left: 1px;
    top: 1px;
    width: 158px;
    height: 30px;
    border: 2px solid;
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.rem {
    margin-top: 10px;
}
.rem label {
    display: inline-block;
    margin-bottom: 0;
}
.underLine {
    margin-bottom: 10px;
    margin-top: 10px;
}
.underLine p {
    text-align: left;
    margin-bottom: 10px;
}

#colorbox {
    border: 2px solid #888;
}
#colorbox #cboxClose {
    text-indent: 0;
    background: none;
    top: 14px;
    right: 14px;
    font-size: 22px;
    width: auto;
    height: auto;
}
.captcha {
    margin-top: 10px;
    text-align: center;
}
.captcha input[type="text"] {
    margin: 0;
}

/* Header Cart Block */

.cartBlock {
    position: relative;
}
.cartBlock .countBlock {
    position: absolute;
    font-size: 14px;
    top: -6px;
    right: -10px;
    background-color: #e91b25;
    width: 20px;
    height: 20px;
    text-align: center;
    color: #fff;
}
#popupCart {
    position:absolute;
    width: 100%;
    top: 60px;
    z-index:30;    
}

#popupCart .viewport {
    position:relative;
}

#popupCart .emptyCart {
    padding:30px 0;
}

.cartFloatBlock {
    border: 2px solid #B1B1B1;
    background: white;
    padding: 12px;
    position: absolute;
    min-width: 620px;
    right: 20px;
    box-shadow: 0 0 15px #555;
}

.cartFloatBlock .corner {
    width:26px;
    height:21px;
    position:absolute;
    left:134px;
    bottom:-21px;
    background:url(../img/corner.png) no-repeat;
}

.cartFloatBlock .scrollBox {
    overflow:auto;
    max-height:361px;
}

.cartFloatBlock .items {
    width:100%;
}

.cartFloatBlock .items .couponLine td {
    padding-top:10px;
    padding-bottom:10px;
}

.cartFloatBlock .items td {
    border-bottom:1px solid #e7e7e7;
    padding:5px 0;    
    vertical-align:middle;    
}
.cartFloatBlock .cartitem:last-child td {
    border-bottom: none;
}

.cartFloatBlock .items .image a {
    display:block;
    width:78px;
    height:109px;
    line-height:107px;
    padding:0 5px;
}

.cartFloatBlock .items .title {
    padding:0 15px;
}

.cartFloatBlock .items .title a {
    color: #111;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold; 
}

.cartFloatBlock .items .title a:hover {
    color: #777;
}

.cartFloatBlock .items .title .barcode {
    margin-bottom: 2px;
    color: #b6b6b6;
    display: none;
}

.cartFloatBlock .items .price  {
    text-align:center;    
    width:120px;
}

.cartFloatBlock .items .price .cost {
    color: #111;
    font-weight:bold;
    white-space:nowrap;
}

.cartFloatBlock .items .remove {
    padding:0 20px;
    width:12px;
}

.cartFloatBlock .multiOffers {
    padding: 0;
    border: none;
    margin-top: 6px;
}
.cartFloatBlock .multiOffers .multiofferTitle {
    font-size:12px;
    color: #555;
    display: inline-block;
    margin: 0 0 5px;
}
.cartFloatBlock .amount {
    text-align: center;
}
.cartFloatBlock .inc {
    display: block;
    margin: 0 auto;
    width: 24px;
    font-size: 20px;
    cursor: pointer;
}
.cartFloatBlock .dec {
    display: block;
    margin: 0 auto;
    width: 24px;
    font-size: 20px;
    cursor: pointer;
}
.cartFloatBlock .cartHeader {
    position: relative;
}
.cartFloatBlock .totalRow {
    font-size: 16px;
    line-height: 2;
    position: absolute;
    bottom: -4px;
    right: 50px;
}
.cartFloatBlock .totalRow td {
    border: none;
}
.cartFloatBlock .totalRow .price {
    margin-left: 10px;
}
.cartFloatBlock .clearCart {
    display: block;
    margin-left: 36px;
    margin-top: 20px;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "FFSignaPro-Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    color: #8b8b8b;
}
.cartFloatBlock .hasPromo {
    display: block;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 36px;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "FFSignaPro-Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    color: #e91b25;
}
.cartFloatBlock .promo {
    display: none;
    margin: 10px 0 30px 36px;
}
.cartFloatBlock .onPromo .promo {
    display: block;
}
.cartFloatBlock .actionLine {
    text-align: right;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: -18px;    
}
.cartFloatBlock .actionLine a {
    margin-left: 10px;
}

.iconRemove {
    font-size: 24px;
    color: #888;
}

.iconRemove:hover {
    background-position:0 -34px;
}

/* Header Wishlist Block */

.countBlock.floatWishAmount {
    position: absolute;
    font-size: 14px;
    top: -6px;
    right: -10px;
    background-color: #e91b25;
    width: 20px;
    height: 20px;
    text-align: center;
    color: #fff;
}

/* Searchline */

.searchLine {
    position: absolute;
    z-index: 200;
}
.searchLine .find {
    float: left;
    margin-top: 35px;
    margin-left: 10px;
    font-size: 24px;
    color: #cbcbcb;
    background-color: transparent;
    border: none;
}
.searchLine .queryWrap {
    float: left;
}
.searchLine .queryWrap input {
    margin-top: 28px;
    width: 250px;
    padding: 10px 0 10px 13px;
    font-size: 16px;
    color: #888;
    border: 1px solid #cbcbcb;
}
.ui-autocomplete {
    background-color: #FFFFFF;
    padding: 5px 0;
}
.ui-autocomplete .ui-menu-item {
    padding: 4px 10px;
    width: 300px;
    cursor: pointer;
}
.ui-autocomplete .ui-menu-item .image {
    width: 62px;
    text-align: center;
}
.ui-autocomplete .ui-menu-item .ui-corner-all {
    margin-left: 10px;
    border: 1px solid transparent;
}
.ui-autocomplete .ui-menu-item .image, .ui-autocomplete .ui-menu-item .ui-corner-all {
    display: inline-table;
    vertical-align: middle;
}
.ui-autocomplete .label {
    color: #888;
}
.ui-autocomplete .barcode {
    color: #cbcbcb;
}
.ui-autocomplete .price {
    color: #000;
}
.ui-corner-all > span {
    display: block;
    font-size: 12px;
    font-weight: normal;
    padding: 2px;
    line-height: 1.2;
}
.ui-autocomplete .ui-menu-item .ui-corner-all.ui-state-focus {
    border: 1px solid #cbcbcb;
}

/* Logo Block */

.logoBlock {
    height: 90px;
    margin-top: 10px;
}
.logo {
    margin-left: 5px;
}
.slogan {
    font-family: "FFSignaPro-Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #4d4d4d;
    margin-top: 5px;
}

/* Header Phone Block */

.phoneBlock {

}
.phoneBlock .phone {
    display: block;
    width: 300px;
    float: right;
    font-size: 24px;
    font-family: "FFSignaPro-Black", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 26px;
    color: #969696;
}
.phoneBlock .phoneIcon {
    float: left;
    display: none;
    
}
.phoneBlock .region {
    font-size: 12px;
    float: right;
}
.phoneBlock .number {
    float: right;
    margin-top: 2px;
}

/* Categories List */

.categoriesList {
    margin-top: 18px;
    font-family: "FFSignaPro-Black";
}
.categoriesList .category {
    padding: 0;
    margin-right: 39px;
}
.categoriesList .category > li {
    display: inline-block;
    position: relative;
    margin-right: 68px;
    height: 26px;
}
.categoriesList .category > li > a {
    font-size: 18px;
}
.categoriesList .category > li > a:hover {
    color: #337ab7;
}
.categoriesList .category > li > a:after {
    content: '\f078';
    font-size: 11px;
    font-family: "FontAwesome";
    position: absolute;
    right: -26px;
    top: 1px;
}
.categoriesList .category > li.dlya-zhenshchin > a {
    color: #EC2028;
}
.categoriesList .category > li > ul {
    display: none;
    position: absolute;
    background-color: #E4E4E4;
    width: 170px;
    padding: 9px 0 4px 11px;
    left: 0;
    top: 26px;
    z-index: 60;
}
.categoriesList .category > li:hover > ul {
    display: block;
}
.categoriesList .category > li > ul > li {
    margin-bottom: 10px;
}
.categoriesList .category > li > ul > li:last-child {
    margin-bottom: 0;
}
.categoriesList .category > li > ul > li a {
    font-family: "FFSignaPro-Book";
    color: #000;
}
.categoriesList .category > li > ul > li a:hover {
    color: #23527c;
}

/* Main */

.container.main {
    padding-bottom: 60px;
}

/* Slider */

.sliders-wrap {
    position: relative;
    margin: 0;
}
.sliders-wrap .inner-border {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border: 40px solid rgba(0, 0, 0, 0.3);
    z-index: 1;
}
.sliders-wrap-inner {
    padding: 0;
}
.slider-nav-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    margin-top: -16px;
    margin-left: -16px;
    width: 32px;
    height: 32px;
    background-color: #e91b25;
}
.cornered-border {
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
}
.slider-nav-wrap:before {
    content: '';
    border: 2px solid #fff;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 1px;
    left: 1px;
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.slider-nav-wrap a {
    font-size: 34px;
    color: #fff;
    position: absolute;
    top: -2px;
    left: 5.5px;
}
.link-wrap {
    background-color: rgba(51, 51, 51, 0.4);
    position: absolute;
    top: 305px;
    z-index: 3;
    height: 80px;
    width: 270px;
    border: 6px solid rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}
.link-wrap:hover {
    background-color: rgba(51, 51, 51, 0.8);
    border: 6px solid rgba(255, 255, 255, 0.8);
}
.link-wrap.man {
    margin-left: -135px;
    left: 25%;
}
.link-wrap.woman {
    right: 25%;
    margin-right: -135px;
}
.link-wrap .link {
    position: relative;
    display: block;
    margin-top: 19px;
    left: 50%;
    margin-left: -50%;
    height: 64px;
    width: 258px;
    text-align: center;
    text-decoration: none;
}
.link-wrap .title {
    display: block;
    margin: 0;
    padding: 0;
    color: #fff;
}
.lookAtAll {
    background-color: #e91b25;
    position: relative;
    display: block;
    margin: 8px auto 0;
    padding-top: 1px;
    width: 150px;
    height: 32px;
    font-size: 16px;
    color: #fff;
}
.lookAtAll:before {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: 148px;
    height: 30px;
    border: 2px solid #fff;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
}

.slider1-wrap {
    width: 50%;
    float: left;
}
.slider2-wrap {
    width: 50%;
    float: left;
}
.vertical .carousel-inner {
    height: 100%;
}
.carousel.vertical .item {
    -webkit-transition: 0.6s ease-out top;
    -moz-transition: 0.6s ease-out top;
    -ms-transition: 0.6s ease-out top;
    -o-transition: 0.6s ease-out top;
    transition: 0.6s ease-out top;
}
.carousel.vertical .active {
    top: 0;
}
.carousel.vertical .next {
    top: 680px;
}
#slider2.carousel.vertical .next {
    top: -680px;
}
.carousel.vertical .prev {
    top: -680px;
}
#slider2.carousel.vertical .prev {
    top: 680px;
}
.carousel.vertical .next.left,
.carousel.vertical .prev.right {
    top: 0;
}
#slider2.carousel.vertical .next.left,
#slider2.carousel.vertical .prev.right {
    top: 0;
}
.carousel.vertical .active.left {
    top: -680px;
    left: 100%;
}
#slider2.carousel.vertical .active.left {
    top: 680px;
    left: 100%;
}
@-moz-document url-prefix() {
    .carousel.vertical .active.left {
        top: -680px;
        left: 0;
    }
    #slider2.carousel.vertical .active.left {
        top: 680px;
        left: 0;
    }
}
.carousel.vertical .active.right {
    top: 680px;
    left: -100%;
}
#slider2.carousel.vertical .active.right {
    top: -680px;
    left: -100%;
}
.carousel.vertical .item {
    left: 0;
}

/* Top products */

.titleWrap {
    margin-top: 23px;
}
.titleWrap:before {
    content: '';
    position: absolute;
    background-color: #000;
    height: 1px;
    left: 15px;
    width: 38%;
    top: 33px;
}
.titleWrap:after {
    content: '';
    position: absolute;
    background-color: #000;
    height: 1px;
    right: 15px;
    width: 38%;
    top: 33px;
}
.productWrap {
    margin-top: 10px;
}
.productItem {
    height: 500px;
    margin: 15px 0;
}
.productItemWrap {
    position: relative;
    width: 100%;
    height: 100%;
}
.productItem .wishWrap {
    background-color: rgba(192, 192, 192, 0.67);
    opacity: 0;
    position: absolute;
    width: 100%;
    top: 0;
    text-align: center;
    z-index: 1;
    -webkit-transition: opacity .4s ease-out;
    -o-transition: opacity .4s ease-out;
    transition: opacity .4s ease-out;
}
.productItem:hover .wishWrap {
    opacity: 1;
}
.productItem .wishBox {
    background-color: #e91b25;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
}
.productItem .wishBox:before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
    top: 1px;
    left: 50%;
    margin-left: -15px;
}
.productItem .wishBox img {
    width: 20px;
    margin-top: 5px;
}
.productItem .wishDesc {
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #fff;
    height: 0;
    overflow: hidden;
    -webkit-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out;
}
.productItem:hover .wishDesc {
    height: 46px;
}
.productItem .toCartWrap {
    position: absolute;
    top: 184px;
    width: 150px;
    left: 50%;
    margin-left: -75px;
    z-index: 1;
    opacity: 0;
    -webkit-transition: opacity .4s ease-out;
    -o-transition: opacity .4s ease-out;
    transition: opacity .4s ease-out;
}
.productItem:hover .toCartWrap {
    opacity: 1;
}
.productItem .mainLink {
    background-color: #F0F0F0;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    -webkit-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out;
}
.productItem:hover .mainLink {
    background-color: #C1C1C1;  
}
.productItem .mainLink .pic {
    padding-top: 30px;
}
.productItem .mainLink .pic img {
    border: 8px solid #fff;
}
.productItem .mainLink .infoWrap {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 156px;
}
.productItem .mainLink .info {
    position: relative;
    height: 100%;
    margin: 0 10px;
}
.productItem .mainLink .info:after {
    content: '';
    position: absolute;
    top: 16px;
    border: 6px solid #fff;
    width: 100%;
    height: 130px;
}
.productItem .mainLink .info .price {
    background-color: #006BB4;
    color: #fff;
    width: 130px;
    height: 32px;
    font-size: 16px;
    line-height: 2.1;
    z-index: 1;
    position: absolute;
    left: 50%;
    margin-left: -65px;
    text-align: center;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.productItem .mainLink .info .price:before {
    content: '';
    position: absolute;
    width: 128px;
    height: 30px;
    top: 1px;
    left: 1px;
    border: 2px solid #fff;
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.productItem .mainLink .info .old-price {
    color: #BEBEBE;
    text-align: center;
    padding-top: 32px;
    font-size: 16px;
    height: 52px;
    text-decoration: line-through;
}
.productItem .mainLink:hover .info .old-price {
    color: #555;
}
.productItem .mainLink .info .title {
    text-align: center;
    margin: 1px 0 0 0;
    color: #000;
    padding: 0 6px;
}
.productItem .mainLink .info .desc {
    color: #000;
    text-align: center;
    padding: 0 6px;
    margin-top: 6px;
}

/* Info Block 1 */

.infoBlock1 {
    background-color: #2c2f34; /* Old browsers */
    background-image: url('../img/bg_blackdot.png');
    background-position: 5px -1px;
}
.infoBlock1 .container {
    height: 300px;
    padding: 60px 0;
}

/* Last News */

.container.lastNews {
    padding: 60px 0 48px;
}
.lastNews .newBlk {
    position: relative;
    height: 240px;
    margin-bottom: 30px;    
}
.lastNews .newWrap {
    background-color: #EDEDED;
    width: 100%;
    height: 100%;
    border: 6px solid #B2B2B2;
    border-top-left-radius: 16px;
    border-bottom-right-radius: 16px;
}
.dateBlock {
    float: left;
    width: 70px;
    height: 70px;
    background-color: #006BB5;
    border-top-left-radius: 9px;
    border-bottom-right-radius: 9px;
}
.dateBlock .date {
    width: 66px;
    height: 66px;
    margin-top: 2px;
    margin-left: 2px;
    border: 3px solid #EDEDED;
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
    text-align: center;
    color: #fff;
}
.dateBlock .date .day {
    font-family: "FFSignaPro-Black", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    margin: 5px 0 0 3px;
}
.dateBlock .date .month {
    margin: -16px 0 0 0;
    font-size: 12px;
}
.lastNews .titleBlock {
    float: left;
    width: 36%;
}
.lastNews .small .titleBlock {
    width: 75%;
}
.lastNews .titleBlock .title {
    margin: 14px 0 0 25px;
}
.lastNews .titleBlock .title a {
    text-decoration: none;
    line-height: 1.2;
}
.lastNews .titleBlock .intro {
    margin: 10px 0 0 25px;
}
.lastNews .imageBlock {
    position: absolute;
    width: 52%;
    height: 228px;
    right: 21px;
    text-align: right;
    overflow: hidden;
}
.lastNews .imageBlock .imageWrap {
    position: relative;
}
.lastNews .imageBlock img {
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-right-radius: 9px;
}
.lastNews .more {

}
.lastNews .more .titleWrap {
    margin: 0;
}
.lastNews .more .titleWrap:before, .lastNews .more .titleWrap:after {
    width: 41%;
    top: 16px;
}
.lastNews .more .titleWrap .moreWrap {
    position: relative;
    width: 130px;
    height: 32px;
    background-color: #e91b25;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    margin: 0 auto;
    padding-top: 6px;
}
.lastNews .more .titleWrap .moreWrap:before {
    position: absolute;
    content: '';
    top: 4px;
    left: 4px;
    border-bottom-right-radius: 7px;
    border-top-left-radius: 7px;
    border: 1px solid #fff;
    width: 122px;
    height: 24px;
}
.lastNews .more .titleWrap a {
    letter-spacing: 0.7px;
    color: #fff;
    position: absolute;
    z-index: 1;
    margin-left: -44px;
    top: 6px;
    text-decoration: none;
}

/* About */

.about {
    position: relative;
}
.aboutHead {
    background: url('../img/about_back.jpg');
    height: 180px;
    color: #fff;
}
.aboutHead .preview {
    width: 370px;
    margin: 0 auto;
    text-align: center;
    padding: 17px 0 13px;
    border-bottom: 1px solid;
}
.aboutHead .title {
    font-family: "FFSignaPro-Black", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 39px;
    letter-spacing: 4.6px;
    line-height: 1;
    padding: 23px 0 4px;
}
.aboutHead .desc {
    text-align: center;
}
.aboutBody {
    padding: 27px 0;

}

/* Article page */

.article {
    position: relative;
}
.article img {
    margin-top: -1px;
}
.article .title {
    width: 100%;
    top: 0;
    z-index: 12;
}
.article .title .dateWrap {
    position: relative;
    width: 100%;
    height: 0;
}
.article .title .dateBlock {
    
}
.article .title h1 {
    font-size: 36px;
    margin-top: 40px;
    line-height: 1.2;
}
.article .title.onImage h1 {
    color: #fff;
    margin-top: 60px;
}
.article .content {
    margin-top: 50px;
    padding: 0 5px;
}

/* Category page */

.productListTitle {

}
.productListTitle .mainTitle {
    background: url('../img/title_jack.jpg') no-repeat scroll 50%;
    margin-top: -1px;
    margin-bottom: 28px;
}
.productListTitle .mainTitle h1 {
    color: #fff;
    margin: 0;
    font-size: 36px;
    padding: 10px 0 6px;
    letter-spacing: .2rem;
}
.subCategories {
}
.subCategory > .wrapper {
    position: relative;   
}
.subCategory img {
    border: 6px solid #000;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.subCategory .textBlock {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    text-align: center;
}
.subCategory .textBlock > .wrapper {
    background-color: rgba(51, 51, 51, 0.4);
    position: relative;
    display: block;
    width: 270px;
    height: 80px;
    margin: 215px auto 0;
    border: 6px solid rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}
.subCategory .textBlock > .wrapper:hover {
    background-color: rgba(51, 51, 51, 0.8);
    border: 6px solid rgba(255, 255, 255, 0.8);
}
.subCategory .textBlock .icon {
    width: 32px;
    height: 32px;
    display: block;
    margin: -21px auto 0;
}
.subCategory .textBlock .categoryTitle {
    display: block;
    margin: 0;
    padding: 0;
    color: #fff;
    margin-top: 8px;
}


.productsBlock {
    position: relative;
}

.productList .sortLine {
    text-align: right;
    z-index: 20;
}
.wishlist .sortLine {
    margin-top: 15px;
}
.productList .sortLine .total {
    float: left;
    margin: 0;
    line-height: 1.6;
}

.productList .pageSize {
    margin-left:35px;
}
.productList .pageSize .h4 {
    letter-spacing: 0;
}

.productList .viewAs {    
    float:right;
    height:31px;
    line-height:31px;
}
.productList .viewAs a {
    width:16px;
    height:16px;
    /* background: url(../img/viewas.png) no-repeat; */
    display:inline-block;
}
.productList .viewAs .table {
    background-position:-34px 0;
}

.productList .viewAs .blocks {
    margin-right:10px;
}

.productList .viewAs .blocks:hover,
.productList .viewAs .blocks.act {
    background-position:-17px 0;
}

.productList .viewAs .table:hover,
.productList .viewAs .table.act {
    background-position:-51px 0;
}

.ddList {
    height:29px;    
    display:inline-block;
    position:relative;
}

.ddList .value {
    /* background:url(../img/down.png) no-repeat right center; */
    line-height:10px;
    cursor:pointer;
    padding-left: 5px;
}

.ddList ul {
    display:none;
    position:absolute;
    right:0;
    top: 90%;
    z-index:2;
    background: #E4E4E4;
    min-width:100%;
    box-shadow:0 2px 5px #999;
}

.ddList:hover ul {
    display:block;
}

.ddList ul li {
    border-top:1px solid #ccc;
}

.ddList ul .first {
    border-top:none;
}

.ddList ul li:hover {
    background: #e91b25;
    border-color: #e91b25;
}

.ddList ul li:hover a {
    color: white;
}

.ddList ul a {
    height:29px;
    line-height:29px;
    display:block;
    padding:0 20px;
    text-decoration:none;
    color: #8f8f8f;
}
.ddList .h4, .sortLine .h4 {
    font-size: 14px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
}

#filtersBlock {
}
.filterSection {
    padding: 5px 16px 0 22px;
    border: 6px solid #ededed;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.filters h4 {
    text-transform:uppercase;
    padding-bottom:5px;
    margin-bottom: 5px;
    text-align: center;
}

.filters .filter {
    margin-bottom:30px;
}

.filters .buttons {
    text-align:center;
    margin-bottom: 20px;
}

.filters .submitFilter {
    margin-bottom:20px;
}

.filter .fullwidth {
    width:100%;
}
.filter .fullwidth td {
    vertical-align:middle;
}

.filter .fullwidth input {
    width:97%;
    border:1px solid #ececec;
    height:30px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;    
}

.filter .fullwidth .padd4 {
    padding:0 4px;
}

.filter .fullwidth .p50 {
    padding-bottom:3px;
}

.filter.typeMultiselect ul {
    max-height: 205px;
    overflow:auto;
}

.no-touch .filter input[type=checkbox] {
    position: absolute;
    left: -9999px;
}

.filter.typeMultiselect li {
    width: 20%;
    float: left;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}
.filter.typeMultiselect label {
    position: relative;
}
.filter.typeMultiselect label > div {
    
}
/* .no-touch .filter input[type=checkbox] + label:before {
    content: "";
    position: absolute;
    width: 19px;
    height: 19px;
    background: #777;
    top: 0;
    left: 0;
} */

.no-touch .filter input[type=checkbox]:checked + label:before {
    background: #000;
}

.multiselectItem {
    width: 100%;
    float: left;
    text-align: center;
    font-weight: bold;
}
.cvet .multiselectItem, .razmer .multiselectItem {
    width: 20%;
}
.specifikacii .multiselectItem {
    width: 50%;
}
.specifikacii .siluet .multiselectItem, .specifikacii .poyas .multiselectItem {
    width: 100%;
}

.multiselectItemInner {
    border: 1px solid #CACACA;
    margin: 2px;
    padding: 5px 0;
    cursor: pointer;
}
.multiselectItem .multiselectItemInner {
    border: 2px solid #ebebeb;
}
.cvet .multiselectItem .multiselectItemInner {
    border: 4px solid #ebebeb;
}
.multiselectItem.active .multiselectItemInner {
    border: 2px solid #3769BA;
}
.cvet .multiselectItem.active .multiselectItemInner {
    border: 2px solid #3769BA;
    box-shadow: inset 0px 0px 0 2px #ebebeb;
}

.jslider {
    padding-bottom: 20px;
    margin-top: 35px;
}

.jslider .jslider-bg i,
.jslider .jslider-pointer {
    background: url(../img/jslider.plastic.png) no-repeat 0 0;
}

.jslider {
    display: block;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 1em;
    position: relative;
    top: 0.6em;
    font-family: Arial, sans-serif;
}

.jslider table {
    width: 100%;
    border-collapse: collapse;
    border: 0;
}

.jslider td,
.jslider th {
    padding: 0;
    vertical-align: top;
    text-align: left;
    border: 0;
}

.jslider table,
.jslider table tr,
.jslider table tr td {
    width: 100%;
    vertical-align: top;
}

.jslider .jslider-bg {
    position: relative;
}

.jslider .jslider-bg i {
    height: 5px;
    position: absolute;
    font-size: 0;
    top: 0;
}

.jslider .jslider-bg .l {
    width: 10%;
    background-position: 0 0;
    left: 0;
}

.jslider .jslider-bg .f {
    width: 80%;
    left: 10%;
    background-repeat: repeat-x;
    background-position: 0 -20px;
}

.jslider .jslider-bg .r {
    width: 10%;
    left: 90%;
    background-position: right 0;
}

.jslider .jslider-bg .v {
    position: absolute;
    width: 60%;
    left: 20%;
    top: 0;
    height: 5px;
    background-repeat: repeat-x;
    background-position: 0 -40px;
}

.jslider .jslider-pointer {
    width: 3px;
    height: 9px;
    background-position: -6px -56px;
    position: absolute;
    left: 20%;
    top: -6px;
    margin-left: -2px;
    cursor: pointer;
}

.jslider .jslider-pointer-hover {
    background-position: -6px -56px;
}

.jslider .jslider-pointer-to {
    left: 80%;
}

.jslider .jslider-label {
    font-size: 12px;
    line-height: 12px;
    color: black;
    opacity: 0.4;
    white-space: nowrap;
    padding: 0px 2px;
    position: absolute;
    top: -23px;
    left: 0px;
}

.jslider .jslider-label-to {
    left: auto;
    right: 0;
}

.jslider .jslider-value {
    font-size: 12px;
    white-space: nowrap;
    padding: 1px 2px 0;
    position: absolute;
    top: -24px;
    left: 20%;
    background: white;
    line-height: 12px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}

.jslider .jslider-value-to {
    left: 80%;
}

.jslider .jslider-label small,
.jslider .jslider-value small {
    position: relative;
    top: -0.4em;
}

.jslider .jslider-scale {
    position: relative;
    top: 12px;
}

.jslider .jslider-scale span {
    position: absolute;
    height: 5px;
    border-left: 1px solid #999;
    font-size: 0;
}

.jslider .jslider-scale ins {
    font-size: 12px;
    text-decoration: none;
    position: absolute;
    left: 0px;
    top: 5px;
    color: #999;
}

.jslider-single .jslider-pointer-to,
.jslider-single .jslider-value-to,
.jslider-single .jslider-bg .v,
.jslider-limitless .jslider-label {
    display: none;
}



/* Product page */

.row.title h2 {
    margin: 11px 0 28px;
    line-height: 1.2;
}
.priceBlock {
    margin-top: -6px;
    margin-bottom: 16px;
}
.priceBlock .price {
    color: #e91b25;
    font-size: 56px;
    text-align: center;
    line-height: .8;
}
.priceBlock .lineTroughtPrice {
    text-align: center;
    color: #cbcbcb;
    text-decoration: line-through;
    font-size: 24px;
    margin-top: 16px;
}
.withoutDelivery {
    text-align: center;
    margin-top: 10px;
    text-decoration: underline;
    color: #969696;
}
.amount {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}
.fieldAmount {
    border: 2px solid #8b8b8b;
    border-radius: 2px;
    padding: 2px 6px 3px 10px;
    width: 70px;
}
.multiOffers {
    padding: 5px 74px 52px 66px;
    border: 6px solid #ededed;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.sku {
    margin-top: 13px;
    font-weight: bold;
}
.multiOffers [name^="multioffers["] {
    display: none;
}
.multiofferTitle {
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2.5px;
    font-weight: bold;
    margin-top: 24px;
}
.multiofferBlock {
    margin-top: 8px;
}
.multiofferBlock2 {

}
.multiofferBlock .moItem {
    width: 20%;
    float: left;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}
.multiofferBlock1 .moItem {
    width: 40px;
    height: 40px;
    border: 1px solid #B3B3B3;
    margin: 2px;
}
.multiofferBlock1 .moItemInner {
    width: 38px;
    height: 38px;
    border: 3px solid #F5F5F5;
    text-indent: -9999px;
}
.multiofferBlock1 .moItem.active {
    border: 2px solid #3769BA;
}
.multiofferBlock1 .active .moItemInner {
    width: 36px;
    height: 36px;
    border: 2px solid #F5F5F5;
}
.multiofferBlock2 .moItemInner {
    border: 1px solid #CACACA;
    margin: 2px;
    padding: 5px 0;
}
.multiofferBlock2 .active .moItemInner {
    border: 2px solid #3769BA;
    padding: 4px 0;
}
.multiofferBlock3 .moItem {
    width: 50%;
    height: 52px;
}
.multiofferBlock3 .moItemInner {
    margin: 2px;
    height: 48px;
    border: 1px solid #B3B3B3;
    padding: 3px 0;
}
.multiofferBlock3 .active .moItemInner {
    padding: 2px 0;
    border: 2px solid #3769BA;
}
.button.showMultiOffers {
    position: absolute;
    background-color: #e91b25;
    bottom: -12px;
    width: 150px;
    height: 32px;
    left: 50%;
    margin-left: -75px;
    text-align: center;
    border-top-left-radius: 9px;
    border-bottom-right-radius: 9px;
    color: #fff;
    font-size: 16px;
    padding-top: 5px;
    cursor: pointer;
}
.button.showMultiOffers:before {
    content: '';
    position: absolute;
    left: 1px;
    top: 1px;
    width: 148px;
    height: 30px;
    border: 2px solid;
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.addToCartWrap, .buyOneClickWrap {
    background-color: #216cb0;
    padding: 4px;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.button.addToCart img {
    margin-top: -6px;
}
.buyOneClickWrap {
    background-color: #91b5d7;
    margin-top: 10px;
}
.button.addToCart, .button.buyOneClick {
    display: block;
    padding: 7px 0;
    font-size: 26px;
    color: #fff;
    line-height: 26px;
    border: 2px solid #fff;
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
    cursor: pointer;
}
.toCartText {
    display: inline-block;
}
.compare {
    display: none;
}
.inCompare .already {

} 
.already {

}
.productImages {
    position: relative;
}
.specCategoriesBlockWrap {
    position: absolute;
    top: 6px;
    left: 6px;
    z-index: 19;
}
.specCategory {
    margin-bottom: 4px;
}
.productImagesWrap {
    float: left;
    border: 6px solid #ededed;
}
.productImages .main .item {
    text-align:center;
    display:block;
}
.productImages .main .winImage{
    padding: 20px;
    width: 100%;
}

.productImages .main .hidden {
    display:none;
}

.gallery {
    position: relative;
}

.gallery .prev.disabled:hover,
.gallery .prev,
.gallery .next {
    width:20px;
    height:20px;
    position:absolute;
    left: 50%;
    margin-top:-10px;
    margin-left: -3px;
}
.gallery .prev {
    top: -10px;
}

.gallery .disabled {
    opacity:0.3;
}

.gallery .next.disabled:hover,
.gallery .next {
    bottom: -10px;
    background-position:-32px 4px;
}

.gallery .prev:hover {
    background-position:0 -35px;
}

.gallery .next:hover {
    background-position:-32px -35px;
}

.gallery .wrap {
    position:relative;
    overflow:hidden;
    text-align: center;
}

.gallery ul {
    position:relative;
    display: inline-block;
}

.gallery ul li {
    margin: 10px 0;
    border: 1px solid #ebebeb;
    padding: 5px;
}

.gallery ul li a {
    display:block;
    width: 50px;
    height: 75px;
    line-height:70px;
    text-align:center;
    opacity:0.9;
}

.gallery ul li a:hover {
    opacity:1;
}

.productNavTabs {
    border-bottom: 2px solid #969696;
    margin-top: 15px;
}
.productNavTabs > li {
    width: 200px;
    margin-bottom: -2px;
    margin-right: -2px;
    text-align: center;
    border: 2px solid #969696;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.productNavTabs > li > a {
    font-family: "FFSignaPro-Black", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    border-radius: 5px 5px 0 0;
    width: 100%;
    color: #fff;
    background-color: #969696;
    border: 2px solid #fff;
    padding: 10px 0 5px;
}
.productNavTabs > li > a:hover {
    border-color: #fff;
    background-color: #fff;
    color: #969696;
}
.productNavTabs > li.active > a, 
.productNavTabs > li.active > a:hover,
.productNavTabs > li.active > a:focus {
    border: 2px solid #fff;
}

.specificationBlock {
    -moz-column-count: 3;
    -moz-column-gap: 15px;
    -webkit-column-count: 3;
    -webkit-column-gap: 15px;
    column-count: 3;
    column-gap: 15px;
    margin-top: 20px;
}
.productSpecification {
    width: 100%;
    display: inline-block;
    padding: 0 15px;
}
.productSpecification .label {
    width: 50%;
    float: left;
    margin-top: 2px;
    padding-right: 10px;
    position: relative;
}
.productSpecification .value {
    width: 50%;
    float: left;
}
.propValue {
    
}

.materialsBlock {
    margin-top: 20px;
}
.materialItem .title {
    margin-bottom: 20px;
    line-height: 1.2;
    cursor: pointer;
}
.materialItem .title .icon {
    float: left;
    width: 18%;
}
.materialItem .title .text {
    float: left;
    width: 82%;
}
.productDescription {
    margin-top: 20px;
    margin-bottom: 40px;
}
.optionsList {
    margin-top: 20px;
}
.optionItem {
    margin-top: 5px;
    text-indent: 4px;
}
.optionItem .fa {
    color: #888;
}
.recommendedWrap {
    margin-top: 10px;
}
.recommendedWrap .titleWrap:before, .recommendedWrap .titleWrap:after {
    width: 35%;
}

/* Comments */

.commentsWrap .titleWrap {
    margin-top: 37px;
}
.commentsWrap .titleWrap:before, .commentsWrap .titleWrap:after {
    width: 44%;
}
.commentFormBlock {
    margin-bottom: 33px;
}
.commentFormBlock .button.handler {
    position: relative;
    background-color: #e91b25;
    font-size: 16px;
    color: #fff;
    width: 150px;
    height: 32px;
    display: block;
    margin: 17px auto 0;
    padding-top: 5px;
    border-top-left-radius: 9px;
    border-bottom-right-radius: 9px;
    text-align: center;
    text-decoration: none;
}
.commentFormBlock .button.handler:before {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    border: 2px solid #fff;
    width: 148px;
    height: 30px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.commentFormBlock .caption,
.commentFormBlock form {
    display:none;
}

.commentBlock .commentList .info {
    /* background:url(../img/dot.png) repeat-x bottom left; */
    font-family: "FFSignaPro-Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow:hidden;
}

.commentBlock .noComments {
    padding-top:20px;
    /* background:url(../img/dot.png) repeat-x top left; */
    text-align:center;
}

.commentBlock .commentList .info .date {
    padding-left: 40px;
    color: #777;
    background: white;
    padding-bottom:2px;
    float:left;
}

.commentBlock .commentList .info .name {
    padding-right: 5px;
    background: white;
    float: left;
    padding-bottom: 2px;
    font-weight: bold;
}

.commentBlock .commentList .info .starsSection {
    float:right;
    background: white;
}

.commentFormBlock .errors {
    color: #f06060;
    margin:10px 0;
}

.stars {
    width:96px;
    height:15px;
    display:inline-block;
}

.stars i {
    height:15px;
    display:inline-block;
}

.commentBlock .commentList .comment {
    margin: 8px 0 -5px;
}

.commentFormBlock.open .handler {
    display:none;
}

.commentFormBlock.open .caption,
.commentFormBlock.open form {
    display:block;
}

.commentFormBlock .caption {
    border-bottom:7px solid #111;
    font-size:24px;
    font-family: Boblic, Arial Narrow, Arial;
    font-stretch: ultra-condensed;        
    padding-bottom:5px;
    margin-bottom:20px;
}

.commentFormBlock .caption .close {
    float:right;
    margin-top:7px;
}

.commentFormBlock .formStyle textarea {
    border:2px solid #e7e7e7;
    width:100%;
    height:96px;
    resize:vertical;
}

.commentFormBlock .already {
    margin-top:5px;
}

.commentFormBlock .rating {
    overflow:hidden;
    margin:25px 0;
}

.commentFormBlock .rating .desc {
    font-family: Verdana;
    text-transform: none;
    font-size:11px;
    color: #777;
}

.commentFormBlock .rating span {
    font-family: Boblic, Arial Narrow, Arial;
    font-stretch: ultra-condensed;        
    font-size:14px;
    text-transform: uppercase;
    vertical-align:middle;
}

.commentFormBlock .rating .starsBlock {
    display:inline-block;
    vertical-align:middle;
    margin-left:16px;
}

.commentFormBlock .rating .starsBlock i {
    display:block;
    float:left;
    width:16px;
    height:16px;
    /* background:url(../img/votestars.png) no-repeat; */
    padding-right:5px;
}

.starsBlock i.act:before {
    content: '\f005';
    color: #DF0000;
}

.commentFormBlock .name {
    margin-bottom:20px;
}

.commentFormBlock .name .fieldName {
    color: #777;
}

.iconX {
    width:16px;
    height:16px;
    background: url(../img/close.png) no-repeat;
    display:inline-block;
}

.iconX:hover {
    width:16px;
    height:16px;
    background: url(../img/close.png) no-repeat -17px 0;
}

.commentFormBlock .formStyle input[type=submit] {
    /* background:#111 url(../img/comment_submit.png) no-repeat 20px 3px; */
    padding-left:60px;
}

.commentFormBlock .formStyle input[type=submit]:hover {
    background-position:20px -40px;
}

.commentList .rate {
    margin-top: 30px;
    padding: 0 0 0 15px;
}
.starsSection i.act:before {
    content: '\f005';
    color: #DF0000;
}
.commentList .comment p {
    border-bottom: 1px solid;
    padding-bottom: 27px;
    margin-bottom: 17px;
}

/* Paginator */

.paginator {
    font-size: 18px;
    margin-top: 3px;
}
.paginator a {
    color: #000;
    width: 32px;
    height: 32px;
    display: inline-block;
    padding-top: 5px;
}
.paginator a:hover {
    text-decoration: none;
}
.paginator a.act {
    position: relative;
    color: #fff;
    background-color: #DF0000;
    border-top-left-radius: 9px;
    border-bottom-right-radius: 9px;
}
.paginator a.act:before {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: 30px;
    height: 30px;
    color: #fff;
    border: 2px solid;
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.paginator i {
    font-size: 22px;
}

/* Profile */

.profile h1 {
    font-size: 36px;
    letter-spacing: 1.7px;
    margin: 0;
}
.profileMenu {
    margin-top: 10px;
    border-bottom: 1px solid #000;
    padding-bottom: 43px;
}
.profileMenu li {
    float: left;
    margin-right: 30px;
}
.profileMenu li.exitButton {
    float: right;
    margin-right: 0;
}
.profileMenu li a {
    padding: 15px 0 16px;
    text-transform: uppercase;
    font-family: "FFSignaPro-Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 3px;
    color: #8b8b8b;
    font-weight: bold;
}
.profileMenu li.act a {
    color: #000;
    border-bottom: 3px solid #000;
}
li.exitButton a {
    color: #EC2028;
}
.profile input[type="text"], .profile input[type="password"], .profile textarea {
    width: 100%;
    margin-top: 10px;
    padding: 3px 5px 6px 5px;
    max-width: 370px;
}
.profile label {
    display: none;
}
.profile .formLine {
    text-align: center;
}
label[for="changePass"] {
    display: inline-block;
    margin-left: 5px;
}
.changePassWrap {
    padding-top: 12px;
}
.profile .formFieldError {
    display: block;
    margin-top: 2px;
}
.profile .buttons {
    text-align: center;
}

.orderTable {
    width: 100%;
    margin-top: 30px;
    border-bottom: 1px solid #000;
}
.orderTable tr {
    border-top: 1px solid #000;
}
.orderTable td {
    vertical-align: middle;
    height: 80px;
    padding: 10px 0;
}
.orderTable td.number {
    width: 10%;
}
.orderTable td.date {
    font-family: "FFSignaPro-Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    width: 10%;
}
.orderTable td.date .date {
    margin-bottom: -4px;
}
.orderTable td.items {
    width: 40%;
}
.orderTable .atAll {
    display: block;
    margin-left: 20px;
    margin-bottom: -4px;
    color: #000;
    font-family: "FFSignaPro-Black", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-decoration: underline;
}
.orderTable .atAll.collapse {
    display: none;
    margin-left: 190px;
    margin-bottom: 5px;
}
.orderTable .on .atAll {
    display: none;
}
.orderTable .on .atAll.collapse {
    display: block;
}
.orderTable .allItems {
    display: none;
    margin-left: 20px;
    margin-right: 20px;
}
.orderTable .on .allItems {
    display: block;
}
.orderTable .allItems ul {
    margin: 0;
}
.orderTable .allItems li {
    padding: 3px 5px;
}
.orderTable .allItems li:nth-child(odd), .orderTable .allItems .items li:nth-child(even) {
    background-color: #eee;
}
.orderTable .allItems li:nth-child(even), .orderTable .allItems .items li:nth-child(odd) {
    background-color: #fff;
}
.orderTable .allItems li .price {
    float: right;
    font-family: "FFSignaPro-Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin-top: 2px;
}
.orderTable .multioffersWrap {
    
}
.orderTable .moreItems .items {
    display: none;
}
.orderTable .moreItems.on .items {
    display: block;
}
.orderTable .moreItems.on .expand {
    display: none;
}
.orderTable .moreItems.on .collapse {
    display: block;
}
.orderTable td.status {
    width: 15%;
    text-align: center;
    padding: 0 10px;
}
.orderTable td.price {
    width: 11%;
    font-family: "FFSignaPro-Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-align: right;
    padding-right: 5px;
}
.orderTable td.price .price {
    margin-bottom: -4px;
}
.orderTable td.actions {
    width: 14%;
}
.actions a {
    display: block;
    background-color: #EC2028;
    text-align: center;
    color: #fff;
    padding: 3px 0;
    border: 2px solid #fff;
    border-top-left-radius: 9px;
    border-bottom-right-radius: 9px;
    box-shadow: 0px 0px 0px 1px #EC2028;
    margin: 5px 0;
}

.orderTitle h2 {
    margin: 2px 0;
}
.orderInfo {
    margin-top: 10px;
}
.orderInfo tr {
    height: 24px;
}
.orderInfo .key {
    color: #8b8b8b;
    width: 160px;
}
.orderInfo .value .price {
    width: 100px;
    text-align: right;
}
.orderCount {
    font-family: "FFSignaPro-Black", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}
.orderStatus {
    font-family: "FFSignaPro-Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}
.orderInfo .orderStatus {
    padding: 2px 10px 0;
    margin-left: 30px;
}
.profile .products {
    border-top: 2px solid #8b8b8b;
    margin-top: 30px;
}
.profile .products li {
    border-bottom: 2px solid #8b8b8b;
    padding: 10px 0;
}
.productTitleWrap a {
    display: block;
    margin-top: 15px;
    font-family: "FFSignaPro-Black", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #000;
}

/* Checkout */

ul.checkoutSteps {
    float: right;
}
ul.checkoutSteps li {
    display: inline-block;
    margin-left: 30px;
}

/* IML Map */

.selectSd {
    padding: 5px 0 5px 10px;
    cursor: pointer;
    -webkit-transition: 0.3s all ease-out;
    -o-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;  
}
.selectSd:hover {
    background: #F1F1F1;
}
.selectSd.active {
    background: rgba(255,204,0,.7);
}
.selectRegion {
    position: absolute;
    top: -38px;
    left: 20px;
}
.close {
    font-size: 30px;
}
.modal-body {
    padding: 0 20px;
}
.modal-header .close {
    margin-top: -4px;
}
.modal-title {
    margin: 4px 0 -4px 0;
}
.modal-footer .btn+.btn {
    margin-left: 15px;
}

/* Footer */

.preFooter {

}
.preFooter .payMethods {
    margin-top: 20px;
}
.preFooter .banner {
    margin-top: 50px;
}
footer {
    height: 380px;
    background: #000;
    margin-top: 50px;
}
footer .item {
    padding-top: 46px;
}
footer .item .title {
    text-transform: uppercase;
    color: #888;
}
footer .item .list {

}
footer .item .list ul {
    padding: 0;
}
footer .item .list li {
    margin-bottom: -4px;
}
footer .item .list a {
    color: #ccc;
}
footer .footerAddress {
    margin-top: 12px;
}
footer .phones {
    margin-bottom: 14px;
}
footer .label {
    font-weight: normal;
    color: #888;
    padding: 0;
    font-size: 14px;
}
footer .phone {
    margin-top: 2px;
    margin-bottom: 4px;
}
footer .footerAddress a {
    font-family: "FFSignaPro-Black", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ccc;
    font-size: 16px;
}
footer .emails {

}
footer .emails .label {

}
footer .email {
    margin-top: 2px;
    margin-bottom: 4px;
}
footer .email a {
    font-family: "FFSignaPro-Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
}
footer .social {
    margin-top: 20px;
}
footer .social a {
    margin-right: 4px;
    opacity: .7;
}
footer .social a:hover {
    opacity: 1;
}
footer .copyright {
    font-family: "FFSignaPro-Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 20px;
}
.footerFriendLinks {

}
.footerFriendLinks .link {
    margin-top: 20px;
    opacity: .6;
    -webkit-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out;
}
.footerFriendLinks .link:hover {
    opacity: 1;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Custom  */
@media only screen and (max-width : 1024px) {
    
    .topMenu li {
        margin-right: 10px;
    }
    .logoBlock img {
        width: 300px;
    }
    .logoBlock .slogan {
        font-size: 12px;
        margin-left: 6px;
        white-space: nowrap;
    }
    .userAuthBlock .authorized .my, .userAuthBlock .authorized .user {
        margin-right: 0;
    }
    .headerIconsBlock > div {
        margin-left: 15px;    
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    
}